/* body, 타이포그래피 등 기본 스타일 설정 */

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
	-webkit-font-smoothing: anitialiased;
	-moz-osx-font-smoothing: grayscale;
}

//box-sizing 일괄 설정 
*{
	box-sizing: inherit;
}

//링크 스타일 밑줄 및 색상 무효화
a {
	text-decoration: inherit;
	color: inherit;
}
